

html {
  height: 100%;
  width: 100%;
}
li {
  display: inline;
  padding: 0px 10px 0px 10px;
}
header {
  background-color: rgb(220, 204, 255);
  padding: 30px;
  text-align: center;
  font-size: 25px;
  color: white;
  height: 150px;

ol {
  background-color: white;
}
    
}
h2 {
  text-align: center;
  color: rgb(203, 179, 255);

}
ul {
text-align: center;
color: rgb(245, 204, 255);        

}
body {
text-align: center;
}
p {
  margin: 50px; 
}


li {
  display: inline-block; 
  padding: 10px 20px; 
  margin: 0 10px; 
  
}
a {
  text-decoration: none; /* Remove underlines */
  color: #333; /* Adjust the link color */
  padding: 5px 10px; /* Add padding to the link area */
}

#About_Me {
  background-color: #f3f0f7; 
  padding: 30px;
  margin-bottom: 50px;
}
#Resume {
  background-color: #f3f0f7; 
  padding: 20px;
  margin-bottom: 50px;
}
#Projects {
  background-color: #f3f0f7; 
  padding: 30px;
  margin-bottom: 50px;
}
#Contact {
  background-color: #f3f0f7; 
  padding: 30px;
  margin-bottom: 50px;
}


#Contact input {
  margin-bottom: 100px;
}

.project-title {
  font-size: 1.0em; /* Larger font size */
  font-weight: bold; /* Bold text */
  margin-bottom: 10px; /* Add spacing below the title */
  text-align: center; /* Center the title */
  color: #333; /* Change the text color */
}

footer {
  background-color: #f3f0f7;
  color: #f3f0f7;
  padding: 10px 0;
  text-align: center;
